@import "../../bitableTheme";

.DropDown__wrapper {
  margin: 1rem;
}

.DropDown__label {
  font-size: $font-size-normal;
  font-weight: bold;
}

.DropDown__select {
  margin-left: 1rem;
  font-size: $font-size-normal;
  height: 3.7rem;
  width: 7.7rem;
  border-radius: 0.3rem;
  outline: none;
}
