.FocusedItem__image {
  height: 50vh;
  margin-right: 2rem;

  @media only screen and (max-width: 640px) {
    display: none;
  }

  @media only screen and (max-width: 768px) {
    height: 40vw;
  }
}

.FocusedItem__wrapper {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  max-width: 65%;

  @media only screen and (max-width: 640px) {
    display: unset;
    padding: 1rem;
  }
}

.FocusedItem__contentWrapper {
  padding: 2rem;
  display: flex;
  width: 100%;

  @media only screen and (max-width: 640px) {
    padding: 0;
    flex-direction: column;
  }
}

.FocusedItem__chartWrapper {
  width: 45vw;
  @media only screen and (max-width: 640px) {
    width: 80vw;
  }
}

.FocusedItem__textWrapper {
  width: 45vw;
  @media only screen and (max-width: 640px) {
    width: initial;
  }
}
