@import "../../bitableTheme";

.Card__item {
  cursor: pointer;
  background-color: white;
}

.Card__focusedItem {
  cursor: pointer;
  background-color: $beige;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
