@import "../../bitableTheme";

.Item__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: 0 11px 6px -6px $light-grey;
}

.Item__wrapper:hover::before {
  opacity: 1;
}

.Item__wrapper::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 11px 6px -6px $grey;
  opacity: 0;
  transition: opacity 500ms;
}

.Item__image {
  border-radius: 3px;
  filter: opacity(0.4);
  transition: filter 500ms linear;

  &:hover {
    filter: opacity(0.7);
  }
}

.Item__title {
  position: absolute;
  margin-bottom: 40%;
  z-index: 1;
  text-align: center;
  padding: 0 1rem;
}
