.WideCard__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  @media only screen and (max-width: 640px) {
    margin: 1rem 0;
  }
}

.WideCard__contentWrapper {
  width: 80%;
  padding: 2rem;
  box-shadow: 0 11px 6px -6px rgba(229, 229, 229, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lighten(#ffd200, 30%);
  transition: background-color 500ms linear, box-shadow 500ms;

  &:hover {
    background-color: lighten(#ffd200, 10%);
    box-shadow: 0 11px 6px -6px rgba(169, 169, 169, 1);
  }

  @media only screen and (max-width: 640px) {
    width: 100%;
  }
}

.WideCard__dropDowns {
  display: flex;
  flex-direction: row;
  margin: 2rem;
}

.WideCard__result {
  background-color: white;
  display: flex;
  padding: 2rem;
  margin-top: 2rem;
}

.WideCard__counts {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 18rem;
}

.WideCard__image {
  height: 45vh;
  margin-right: 2rem;

  @media only screen and (max-width: 640px) {
    display: none;
  }

  @media only screen and (max-width: 768px) {
    height: 40vw;
  }
}
