.CardList__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-auto-rows: 15rem;
  grid-gap: 3.2rem;
  margin: 2rem;

  @media only screen and (max-width: 640px) {
    margin: 0;
    grid-gap: 1.2rem;
  }
}
