// ----- colors configuration
$orange: #ed6534;
$purple: #34326f;
$beige: #faf8f4;
$light-grey: #e5e5e5;
$grey: #a9a9a9;

// ----- font configuration
$font-normal: "Raleway", sans-serif;
$font-friends: "Permanent Marker", cursive;

// ----- font sizes
$font-size-big: 2.6rem;
$font-size-medium: 1.8rem;
$font-size-normal: 1.5rem;
$font-size-small: 1.2rem;
