@import "./bitableTheme.scss";

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-normal;
}

h1 {
  color: $orange;
  font-family: $font-friends;
  font-weight: bold;
  font-size: $font-size-big;
  text-align: center;
  margin-top: 1rem;
}

h2 {
  color: $purple;
  font-family: $font-friends;
  font-weight: bold;
  font-size: $font-size-medium;
  margin: 0;
}

button {
  background-color: $purple;
  text-transform: capitalize;
  border: none;
  color: white;
  font-size: $font-size-normal;
  line-height: 2.1rem;
  padding: 0.8rem 1.4rem;
  border-radius: 0.3rem;
  cursor: pointer;
  outline: none;
}

h3 {
  color: $orange;
  font-family: $font-normal;
  font-weight: bold;
  font-size: $font-size-normal;
  margin: 0;
}

p {
  font-family: $font-normal;
  font-size: $font-size-small;
  line-height: $font-size-medium;
  text-align: justify;
}
